<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Customers
        <div class="pull-right">
          <button class="btn btn-outline-success"
                  (click)="createCustomer()">New Customer</button>
        </div>
      </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div class="list-group">
        <div (click)="details(customer)" *ngFor="let customer of customers" class="list-group-item list-group-item-action">
          <img src="http://via.placeholder.com/64x64" class="rounded float-left img">
          <h5>{{customer.firstName}} {{customer.lastName}}</h5>
          <div class="pull-right" 
              *ngIf="!customerToDelete || customerToDelete.id != customer.id">
            <button class="btn btn-outline-danger" (click)="delete(customer, $event)">
            Delete
            </button>
            <button class="btn btn-outline-warning">
             Update
            </button>
          </div>
          <div class="pull-right" 
              *ngIf="customerToDelete && customerToDelete.id == customer.id">
            <button class="btn btn-outline-danger" (click)="deleteConfirm($event)">
            Confirm
            </button>
            <button class="btn btn-outline-info" (click)="deleteAborted($event)">
             Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
